body{
    background-color: rgb(66, 243, 243);
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
h1{
    color: brown;
}
.ul li:nth-child(2n){
    color: hsl(22, 73%, 53%);
}